:root {
    --color-primary: #47124a;
    --color-secondary: #d40f8c;
    --color-accent: #8c9eff;
    --color-error: #b71c1c;
    --color-info: #2196f3;
    --color-success: #4caf50;
    --color-black: #000000;
    --color-white: #ffffff;
    --navbar-height: 64px;
}

body {
    overflow: hidden;
}
